* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  font-family: "Montserrat", sans-serif;
  background-color: #1abc9c;
}

.header__logo {
  height: 50px;
  margin-left: 15px;
}

#check {
  display: none;
}

.header__menu-label {
  cursor: pointer;
}

.header__menu-img {
  height: 50px;
  margin-right: 15px;
}

.header__menu-ul {
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 60px;
  background-color: #141414;
  opacity: 95%;
  text-align: center;
  transition: all 0.5s;
  padding: 0;
}

.header__menu-ul .header__menu-li {
  display: none;
  list-style: none;
  margin: 50px 0;
  transition: all 0.5s;
}

#check:checked ~ .header__menu-ul {
  height: 100vh;
}

#check:checked ~ .header__menu-ul .header__menu-li {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header__option {
  color: #fafafa;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
}

.header__option:first-child {
  color: #1abc9c;
}
